.join-room {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2em;

  .room-id-input {
    height: 30px;
    width: 20em;
    font-size: 17px;
    outline: none;
    border: 1px solid #8e44ad;
    padding: 0 10px;
  }

  .join-button {
    outline: none;
    background-color: #8e44ad;
    color: #fff;
    font-size: 17px;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 4px 18px;
    transition: all 230 ease-in-out;
    margin-top: 1em;
    cursor: pointer;

    &:hover {
      background-color: transparent;
      border-color: #8e44ad;
      color: #8e44ad;
    }
  }
}
