@import './variables';

html,
body,
#root {
  height: 100%;
  width: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: $font-size-base;
  color: $color-black-600;
  font-family: $font-family-primary;
  letter-spacing: $letter-spacing-base;
  line-height: $line-height-base;
}

a {
  text-decoration: none;
}

.ymaps-2-1-79-gototech,
.ymaps-2-1-79-copyright__wrap {
  display: none !important;
}
