/* default colors */
$color-white: #fff;
$color-black-50: #f7f7f7;
$color-black-100: #ebebeb;
$color-black-200: #ddd;
$color-black-300: #b0b0b0;
$color-black-400: #717171;
$color-black-500: #222;
$color-black-600: #000;
$color-base: #ff385c;

/* fonts */
$font-family-primary: 'Lato', helvetica neue, helvetica, arial, sans-serif;
$font-family-secondary: georgia, times new roman, times, serif;
$font-size-base: 16px;
$letter-spacing-base: 0;
$line-height-base: 1.5;

/* breakpoints */
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 960px;
$breakpoint-xl: 1200px;

/* z-indexes */
$z-index-0: 0;
$z-index-1: 1;
$z-index-2: 10;
$z-index-3: 100;
$z-index-4: 1000;
$z-index-5: 10000;

/* font-weight */
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

/* shadows */
$button-shadow: 0 2px 4px rgba(0% 0% 0% / 18%);
$dropdown-box-shadow: 0 2px 16px rgb(0% 0% 0% / 12%);
