.game {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  justify-content: center;

  h3 {
    font-size: 48px;
    color: #8e44ad;
  }

  .game__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .play-stoper {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
    cursor: default;
  }

  .row {
    width: 100%;
    display: flex;
  }

  .cell {
    width: 13em;
    height: 9em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &.border-top {
      border-top: 6px solid #000;
    }

    &.border-left {
      border-left: 3px solid #000;
    }

    &.border-bottom {
      border-bottom: 6px solid #000;
    }

    &.border-right {
      border-right: 3px solid #000;
    }
  }
}
