.home {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .home__title {
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 48px;
    }
  }
}
